<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="Log_TipoManejo" value="1"/>
    <add key="Log_ArchivoNombre" value=""/><!--Nombre del Archivo. Si no se coloca se mandara con el nombre LogAuditoria.log-->
    <add key="Log_ArchivoUbicacion" value=""/><!--Ubicacion del Archivo. Si no se coloca se mandara con la ruta "Aplicativo"\Logs\-->
    <add key="Log_EscribeAuditoria"  value="si"/><!--Muestra todos los movimientos del aplicativo. SI, NO-->
    <add key="Log_ArchivoTamanio" value=""/><!--Tamaño del Archivo se maneje en Megas. Si se coloca 0 se toman como 10 MB-->
  </appSettings>
  <connectionStrings>
    <add name="datoBDElectronica" connectionString="Data Source=ANRAMIREZ0N2;Initial Catalog=ElectronicaEugenio;User ID=sa;Password=Sat2012;Persist Security Info=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>