<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>

  </appSettings>
  <connectionStrings>
    <add name="datoBDElectronica" connectionString="Data Source=localhost\PersonalSAT;Initial Catalog=ElectronicaEugenio;User ID=sa;Password=12345678a;Persist Security Info=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>